.navMain {
  background-color: #216cf8;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style-type: none;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.3rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .list {
    width: 100%;
    flex-direction: column;
  }
}

.li {
  margin: 0 1rem;
  cursor: pointer;
}

.li:hover {
  font-weight: 700;
  color: rgb(0, 0, 0);
}

@media (max-width: 500px) {
  .li {
    margin: .5rem 1rem;

  }
}
